.insert{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 50px;
	border: black solid;
	border-radius: 10%;
	font-weight: bold;
}
.container{
	border: black solid;
	border-radius: 15%;
	height: 250px;
	width: 800px;
	text-align: center;	
	margin-left: 30%;
	margin-top: 15%;
	background-color: #FF8C00;
	padding-top: 10px;
	text-decoration: bold;
	/*background-image: url("images/fundo.jpg");*/
}


p{
	text-align: center;
}
body{
	background-color: #D9D4BA ;
	background-image: url("images/fundo.jpg");

	font-family: Impact, fantasy;
	
}
#calcular{
	background-color: lightyellow;
	border-radius: 50%;
	height: 50px;
	font-family: Impact, fantasy;

}
.containerBottom{
	display: inline-block;
	background-color: black;
	/*height: 60px;*/
	border-radius: 55%;
	width: 10%;
}
a{
	text-decoration: none;
	color: darkgoldenrod;

}