.insert{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 50px;
	border: black solid;
	border-radius: 10%;
	font-weight: bold;
}
.container{
	border: black ;
	border-radius: 15%;
	height: 250px;
	width: 800px;
	text-align: center;	
	margin-left: 30%;
	margin-top: 15%;
	background-color: #51966C;
	/*background-image: url("images/fundo.jpg");*/
}


p{
	text-align: center;
}
body{
	background-color: #D9D4BAs ;
	/*background-image: url("images/fundo.jpg");
	<a href="https://br.freepik.com/vetores-gratis/fundo-de-aquarela-de-tinta-a-alcool_21727350.htm#query=neon%20azul&position=16&from_view=search&track=ais">Imagem de coolvector</a> no Freepik*/
}